@tailwind base;

a {
  cursor: pointer;
}

@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'DIN Condensed';
  src: url('../assets/fonts/DINCondensed-Bold.ttf') format('opentype');
  font-weight: 700 900;
}
