@tailwind base;

a {
  cursor: pointer;
}

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'DIN Condensed';
  src: url('/fonts/DINCondensed-Bold.ttf') format('opentype');
  font-weight: 700 900;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 100 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 500 900;
}

.font-loose {
  font-family: 'Avenir Next';
}

.font-dense {
  font-family: 'DIN Condensed';
}

@media (min-width: 900px) {
  .note {
    background-attachment: local;
    background-image: 
      repeating-linear-gradient(
        var(--note-bg),
        var(--note-bg) calc(37.5px - 1px),
        var(--note-line) calc(37.5px - 1px),
        var(--note-line) 37.5px,
        var(--note-bg) 37.5px
      );
  }
}

@media (max-width: 899px) {
  .note {
    background-attachment: local;
    background-image: 
      repeating-linear-gradient(
        var(--note-bg),
        var(--note-bg) calc(25px - 1px),
        var(--note-line) calc(25px - 1px),
        var(--note-line) 25px,
        var(--note-bg) 25px
      );
  }
}

_::-webkit-full-page-media, _:future, :root .fill-available {
  height: -webkit-fill-available;
}

.fill-available {
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}