.content h3 {
  @apply font-bold text-[30px];
}

.content p {
  @apply leading-normal mb-[1rem];
}

.contentMobile h3 {
  @apply font-bold font-loose text-[20px] mb-[1rem];
}

.contentMobile p {
  @apply leading-loose font-loose text-[18px] mb-[1rem];
}

.nextMobiltTitle {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;

  @apply font-loose font-bold text-[40px] select-none px-[2rem];
}

.nextTitle {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;

  @apply font-loose text-[50px] cursor-pointer select-none;
}

.formSectionTitle {
  @apply font-loose font-bold text-[35px];
}